@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap');

* {
  margin : 0;
  font-family: plus-jakarta-sans;
  color: hsl(200, 24%, 40%);
}
body{
  background-color: hsl(203, 41%, 72%);
}
.App{
  background-color: white;
}
a {
  text-decoration: none;
  color: hsl(200, 26%, 54%);
}
a:hover {
  color: hsl(200, 24%, 40%);
  font-size: large;
}
.navbar {
  display:flex;
  width : auto;
  padding: 5px;
}
.links {
  margin-left: auto;
  /* background-color: hsl(0, 0%, 100%); */
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar h1 {
  color: hsl(200, 24%, 40%);
  font-family: plus-jakarta-sans;
  font-size: 40px;
}



.forms{
  margin-left: 10px;
}
.home a {
  text-decoration: underline;
}
.input-block {
  display: block;
  margin: 15px 0 15px 0;
  font-size: larger;
}
.input {
  margin-top: 5px;
  width: 90%;
  border: 2px solid hsl(200, 26%, 54%);
  border-radius: 5px;
  height: 3rem;
  display:flex;
  align-items: center;
  margin-bottom: 25px;
}

.amount-style {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 85%;
  height: 90%;
  font-size: larger;
  padding-left: 20px;
}
.fixed{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(203, 41%, 72%);
  width: 20%;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0 2px;
}
.small-space {
  padding: 0 5px;
}


.radio-div {
  margin-top: 5px;
  width: 90%;
  border: 2px solid hsl(200, 26%, 54%);
  border-radius: 5px;
  height: 2rem;
  display:flex;
  align-items: center;
  margin-bottom: 25px;
}

/* Hide the default radio button */
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid #ccc;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
}


input[type="radio"]:checked {
  border: 2px solid hsl(61, 70%, 52%);
}

input[type="radio"]:checked::before {
  content: '';
  width: 12px;
  height: 12px;
  background-color: hsl(61, 70%, 52%);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
}


.radio-input {
  padding: 10px;
  transition: background-color 0.3s ease;
  width: 85%;
  
}

.radio-input-checked {
  background-color: hsla(61, 71%, 52%, 0.223);
  border-color: hsl(61, 70%, 52%);
}


button {
  margin: 0 20%;
}

.calculate{
  background-color: hsl(61, 70%, 52%);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: large;
  font-weight: 700;

}

.summary{
  background-color: hsl(202, 55%, 16%) ;
  padding: 20px;
  font-size: 1.2rem;
  
}
.summary> h2{
  color: rgb(122, 163, 199);
}

.result{
  border-top: 4px solid hsl(61, 70%, 52%);
  border-radius: 10px;
  background-color: hsla(201, 89%, 11%, 0.963);
  padding: 30px 15px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.result> hr{
  width: 90%;
}
.result > p,h1 {
  margin: 10px 0;
}
.result>h1{
  color:hsl(61, 56%, 44%);
  letter-spacing: 3px;
}
.result>h2{
  color: rgb(122, 163, 199);
  letter-spacing: 3px;
}


@media (min-width: 1024px){
.App{
background-color: hsl(203, 41%, 72%);
display: flex;
flex-direction: column;
height: 100vh;
}
.home{
  display: flex;
  width: 50%;
  /* justify-items: center; */
  align-items: center;
  background-color: white;
  border-radius: 20px;
  margin: auto;
}

.summary{
  height: 100%;
  width: 50%;
  margin: 0;
  border-bottom-left-radius: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.summary>p{
  font-size: larger;
}
.contents{
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar{
  background-color: white;
  border-radius: 10px;
  padding: 0 10px;
}
.term-interest{
  display: flex;
  align-items: center;
}
.term-flexed{
  display: flex;
  flex-direction: column;
}
.fixed{
  font-size: 15px;
}
.smaller-label{
  font-size: 15px;
}
.result{
  background-color: transparent;
}
}